[submodule "pathogen"]
	path = pathogen
	url = git@github.com:tpope/vim-pathogen
[submodule "bundle/sensible"]
	path = bundle/sensible
	url = git@github.com:tpope/vim-sensible
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = git@github.com:tpope/vim-fugitive
[submodule "bundle/golang"]
	path = bundle/golang
	url = git@github.com:jnwhiteh/vim-golang
[submodule "bundle/flake8"]
	path = bundle/flake8
	url = git@github.com:nvie/vim-flake8
[submodule "bundle/haml"]
	path = bundle/haml
	url = git@github.com:tpope/vim-haml
[submodule "bundle/less"]
	path = bundle/less
	url = git@github.com:groenewege/vim-less
