[submodule "pathogen"]
	path = pathogen
	url = git@github.com:tpope/vim-pathogen
[submodule "bundle/sensible"]
	path = bundle/sensible
	url = git@github.com:tpope/vim-sensible
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = git@github.com:tpope/vim-fugitive
[submodule "bundle/golang"]
	path = bundle/golang
	url = git@github.com:jnwhiteh/vim-golang
[submodule "bundle/haml"]
	path = bundle/haml
	url = git@github.com:tpope/vim-haml
[submodule "bundle/less"]
	path = bundle/less
	url = git@github.com:groenewege/vim-less
[submodule "bundle/css-color"]
	path = bundle/css-color
	url = git@github.com:skammer/vim-css-color
[submodule "bundle/css3-syntax"]
	path = bundle/css3-syntax
	url = git@github.com:hail2u/vim-css3-syntax
[submodule "bundle/sleuth"]
	path = bundle/sleuth
	url = git@github.com:tpope/vim-sleuth
[submodule "bundle/coffee-script"]
	path = bundle/coffee-script
	url = git@github.com:kchmck/vim-coffee-script
[submodule "coffee-script"]
	path = coffee-script
	url = git@github.com:jashkenas/coffee-script
[submodule "less"]
	path = less
	url = git@github.com:cloudhead/less.js
[submodule "bundle/literate-coffeescript"]
	path = bundle/literate-coffeescript
	url = git@github.com:mintplant/vim-literate-coffeescript
[submodule "bundle/markdown"]
	path = bundle/markdown
	url = https://github.com/tpope/vim-markdown
[submodule "bundle/markdown-folding"]
	path = bundle/markdown-folding
	url = git@github.com:nelstrom/vim-markdown-folding
[submodule "coffeelint"]
	path = coffeelint
	url = https://github.com/clutchski/coffeelint
[submodule "bundle/unimpaired"]
	path = bundle/unimpaired
	url = git@github.com:tpope/vim-unimpaired
[submodule "bundle/repeat"]
	path = bundle/repeat
	url = git@github.com:tpope/vim-repeat
[submodule "bundle/surround"]
	path = bundle/surround
	url = git@github.com:tpope/vim-surround
[submodule "bundle/speeddating"]
	path = bundle/speeddating
	url = git@github.com:tpope/vim-speeddating
[submodule "bundle/abolish"]
	path = bundle/abolish
	url = git@github.com:tpope/vim-abolish
[submodule "bundle/commentary"]
	path = bundle/commentary
	url = git@github.com:tpope/vim-commentary
[submodule "bundle/liquid"]
	path = bundle/liquid
	url = git@github.com:tpope/vim-liquid
[submodule "bundle/colors-solarized"]
	path = bundle/colors-solarized
	url = git@github.com:altercation/vim-colors-solarized
[submodule "bundle/pyflakes"]
	path = bundle/pyflakes
	url = git@github.com:attilaolah/pyflakes-vim
[submodule "bundle/jedi"]
	path = bundle/jedi
	url = git@github.com:davidhalter/jedi-vim
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = git@github.com:scrooloose/syntastic
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = git@github.com:majutsushi/tagbar
[submodule "bundle/gotags"]
	path = bundle/gotags
	url = git@github.com:jstemmer/gotags
