[color]
    branch = auto
    diff = auto
    status = auto

[diff]
    renames = true

[alias]
    ci = commit -v
    co = checkout
    st = status

[push]
    default = current

[user]
    name = Attila Oláh
    email = me@aatiis.me

[core]
    excludesfile = /home/aatiis/.gitignore
